<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.wigle.wigleandroid"
      android:versionCode="31"
      android:versionName="1.30">
    <application android:icon="@drawable/wiglewifi" android:label="@string/app_name" android:debuggable="false">
    	<activity android:name=".MainActivity" android:label="@string/app_name"
          		  android:theme="@android:style/Theme.NoTitleBar"
          		  android:launchMode="singleTask"
          		  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- have this available too for backwards compatibility -->
        <activity android:name=".WigleAndroid" android:label="@string/app_name"
          		  android:theme="@android:style/Theme.NoTitleBar"
          		  android:launchMode="singleTask"
          		  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings_app_name"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".MappingActivity"
                  android:label="@string/mapping_app_name"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity"
                  android:label="@string/dashboard_app_name"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".ErrorReportActivity"
                  android:label="@string/error_report_name"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".SpeechActivity"
                  android:label="@string/speech_name"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

    <service android:name=".WigleService" android:enabled="true"
      android:icon="@drawable/wiglewifi"/>
      
</application>
<supports-screens android:anyDensity="true"
   	android:smallScreens="true"
   	android:normalScreens="true"
   	android:largeScreens="true"
/>
<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />

<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
</manifest> 
